@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-gradient: 177deg, #241638 2.6%, #1f3149 49.05%, #17223e 98.37%;
  --color-linear-gradient-button: 177deg, #f0c777 0%, #f3cb7e 100%;
  --color-radial-gradient-button: 43.74% 100% at 50% 0%,
    rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%;
  --color-gradient-button-shadow: 0px 3px 0px 0px #886b34;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.button {
	display: flex;
	padding: 12px 32px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 60px;
	background: radial-gradient(43.74% 100% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
		linear-gradient(90deg, #f0c777 0%, #f3cb7e 100%);
	box-shadow: 0px 3px 0px 0px #886b34;
	cursor: pointer;

	color: #16252d;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.32);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 900;
	line-height: 22px; /* 157.143% */
	letter-spacing: 0.7px;
	text-transform: uppercase;
	width: fit-content;
}
